
  <div  id="<%= dom_id entry %>">
    <p>
      <strong>المبنى:</strong>
      <%= entry.appartment %>
    </p>

    <p>
      <strong>رقم الشقة:</strong>
      <%= entry.flat %>
    </p>

    <p>
      <strong>اسم المستأجر:</strong>
      <%= entry.name %>
    </p>

    <p>
      <strong>رقم الجوال:</strong>
      <%= entry.phone %>
    </p>

    <p>
      <strong>موعد الدخول:</strong>
      <%= entry.join %>
    </p>

    <p>
      <strong>المدة:</strong>
      <%= entry.duration %>
    </p>

</div>

